.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.npmrc
.eslintrc.cjs
.eslintignore
.prettierignore
.prettierrc
jsconfig.js
package-lock.json
jsconfig.json
tsconfig.json