* {
  color: #efefef;
}

@keyframes changebackground {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100vw;
  }
}

body {
  background-image: linear-gradient(to right, #BC0ABF, #7D45AA, #47168B, #7D45AA, #BC0ABF);
  background-size: 200%;
  animation-name: changebackground;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: 400%;
  }
}

button {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: #FCFCFC;
}

button::after {
  display: block;
  position: relative;
  content: "";
  left: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  background-color: #efefef;
  transition: 1s width;
}

button:hover::after {
  width: 100%;
  color: #FCFCFC;
}
